<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cjmcn.teamicecreamsandwich">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage" />
        <activity android:name=".Settings" />
        <activity android:name=".Events" />
        <activity android:name=".Signup" />
        <activity android:name=".About" />
        <activity android:name=".FAQ" />
        <activity android:name=".Security" />
        <activity android:name=".Username" />
        <activity android:name=".Interests" />
        <activity android:name=".Legal" />
        <activity android:name=".TestActivity" />
        <activity
            android:name=".Event_Concert_Astroworld"
            android:label="@string/title_activity_event__concert__astroworld"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SearchEvent"></activity>
        <activity android:name=".FAQ" />
        <activity android:name=".Interests" />
        <activity android:name=".Username" />
        <activity android:name=".Security" />
        <activity android:name=".Legal" />
        <activity android:name=".About" />
    </application>

</manifest>